<header>
    <nav>
        <a href="/">Anime Review</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add Users</a></li>
            <li><a href="/mangas">Mangas</a></li>
            <li><a href="/mangas/new">Add Mangas</a></li>
        </ul>
    </nav>
</header>